<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta property="og:site_name" content="ronzz-api.herokuapp.com/signup" />
    <meta property="og:title" content="Sign Up | Ronzz - Api" />
    <meta property="og:url" content="https://ronzz-api.herokuapp.com/signup" />
    <meta property="og:image" content="https://telegra.ph/file/6604b7e2534518a62e648.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <meta property="og:image:width" content="400" />
    <meta property="og:image:height" content="300" />
    <meta property="og:image:alt" content="Ronzz YT" />
    <meta property="og:description" content="Register, free rest api bot whatsapp, whatsapp bot api" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Register, free rest api bot whatsapp, whatsapp bot api">
	<meta name="author" content="Ronzz YT">
	<meta name="keywords" content="Register, free rest api bot whatsapp, whatsapp bot api">
		
	<!-- ICON -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">    
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="vendors/styles/style.css">

	<link rel="canonical" href="/signup">

	<title>Sign Up | Ronzz - Api</title>

	<link href="css/font.css?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">

	<!-- Choose your prefered color scheme -->
	<!-- <link href="css/light.css" rel="stylesheet"> -->
	<!-- <link href="css/dark.css" rel="stylesheet"> -->

	<!-- BEGIN SETTINGS -->
	<!-- Remove this after purchasing -->
	<link class="js-stylesheet" href="vendors/styles/style.css" rel="stylesheet">
	</head>

<body data-theme="default" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
	<main class="d-flex w-100 h-100">
		<div class="container d-flex flex-column">
			<div class="row vh-100">
				<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
					<div class="d-table-cell align-middle">

						<div class="text-center mt-4">
							<h1 class="h2">Get started</h1>
							<p class="lead">
								Start creating the best possible user experience for you customers.
							</p>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="m-sm-4">
									<form action="/sign-in">
										<div class="mb-3">
											<label class="form-label">Email</label>
											<input class="form-control form-control-lg" type="text" name="email" placeholder="Enter your email" required>
										</div>
										<div class="mb-3">
											<label class="form-label">Username</label>
											<input class="form-control form-control-lg" type="username" name="username" placeholder="Create username" required>
										</div>
										<div class="mb-3">
											<label class="form-label">Number WhatsApp</label>
											<input class="form-control form-control-lg" type="whatsapp" name="whatsapp" placeholder="08xxx" required>
										</div>
										<div class="mb-3">
											<label class="form-label">Password</label>
											<input class="form-control form-control-lg" type="password" name="password" placeholder="Create password" required>
										</div>
										<div class="mb-3">
											<label class="form-label">Password</label>
											<input class="form-control form-control-lg" type="password" name="password" placeholder="Confirm password" required>
										</div>
										<div class="g-recaptcha" data-sitekey="6LcA830iAAAAAG0lMBJFc4-AOn30KTb3VgjZbgt5"></div>
										Already have an account? <a href="/sign-in">Login</a>
										<div class="text-center mt-3">
											<button type="submit" class="btn btn-lg btn-primary">Create account</button>
										</div>
									</form>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>

	<script src="js/main.js"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>

</body>

</html>